@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald/Oswald-VariableFont_wght.ttf');
}

body,html{
    background-color: #BBBBBB;
}

 .movie-card {
    background: #ffffff;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
    width: 800px;
    max-width: 315px;
    margin: 2em;
    border-radius: 10px;
    display: inline-block;
  }
  
  .movie-header {
    padding: 0;
    margin: 0;
    height: 367px;
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-repeat: no-repeat!important;
    background-size: contain!important;
    background-position: center!important;
  }

  .header-icon-container {
    position: relative;
  }
  
  .header-icon {
    width: 100%;
    height: 367px;
    line-height: 367px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    color: #ffffff;
    font-size: 54px;
    text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6ABCEA;
    opacity: .85;
  }
  
  .header-icon:hover {
    background: rgba(0, 0, 0, 0.15);
    font-size: 74px;
    text-shadow: 0px 0px 20px #6abcea, 0px 5px 30px #6ABCEA;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 1;
  }
  
  .movie-card:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
  }
  
  .movie-content {
    padding: 18px 18px 24px 18px;
    margin: 0;
  }
  
  .movie-content-header, .movie-info {
    display: table;
    width: 100%;
    text-align: center;
  }
  
  .movie-title {
    font-size: 24px;
    margin: 0;
    display: table-cell;
    font-family: 'Oswald';
  }

.play-button{
    color: #f39c12;
}

.play-button:hover{
    color: #d35400;
}

.refresh-page-button{
    color: #e74c3c;
}

.refresh-page-button:hover{
    color: #c0392b;
}

.main-page-button{
    color: #34495e;
}

.main-page-button:hover{
    color: #2c3e50;
}

@media screen and (max-width: 500px) {
    .movie-card {
        width: 95%;
        max-width: 95%;
        margin: 1em;
        display: block;
    }
}